extends layout

block content 
  h1= title 
  form(method="POST" action="/new")
    label Name
      input(type="text" name="user")
    label Message 
      input(type="text" name="text")
    input(type="submit")